/* TYPOGRAPHY */


/* HEADER */
#header_wrap {
height:101px;
}
#header_logo .logo_base{
    float:left;
}
#header_right .logo_right{
    position:relative;
    top:10px;
    float:right;
}


/* HEADER LOGIN */
#header_login {
    color:#8cc744;
}
#header_login label{
    position:relative;
    top:37px;
    left:60px;
}
#header_login a{
    color:#8cc744;
    text-decoration:none;
    position:relative;
    top:-20px;
    left:60px;
}
#header_login input.login, input.password{
    position:relative;
    top:-37px;
    left:60px;
    color:#8cc744;
    border:none;
    background-color:#000000;
    width:60px;
}
#header_login input.submit{
    position:relative;
       top:-37px;
       left:57px;
       color:#8cc744;
       border:none;
       background-color:#000000;
}
/* FOOTER*/
#footer_wrap{
    bottom:5px;
    border-top:1px groove #CDBA8D;
    height:51px;
}
#footer {
    text-align:center;
}
#footer a {
    color:#8cc744;
    text-decoration:none;
}
/* NAVIGATION_MENU*/
#navigation_menu_wrap {
    border-bottom:1px groove #322820;
    height:2.5em;
}
#nav_menu{
    border-bottom:1px solid #FFFFFF;
    height:2.5em;
    position:relative;
}
#nav{
    bottom:-0.1em;
    height:2.6em;
    left:0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    text-transform:uppercase;
}
#nav li {
    float:left;
    margin-left:0.1em;
    display:inline
}
#nav li a {
    color:#CDBA8D;
    display:block;
    float:left;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    height:1.8em;
    letter-spacing:-0.02em;
    overflow:hidden;
    padding:0.6em 1.3em 0.1em 1.2em;
    text-decoration:none;
    text-transform:uppercase;
}
/* RIGHT PANEL */
#right_container{
    float:right;
    margin-top:10px;
    height:270px;
}
#inside_right{
    width:200px;
    height:250px;
    position:relative;
    top:-250px;
    overflow:hidden;
}
#inside_right div.right_title{
    height:20px;
    text-align:center;
    color:#000000;
    margin-top:8px;
}
#inside_right div.right_content{
    color:#000000;
    height:180px;
    margin-top:25px;
    margin-left:30px;
}
#inside_right div.right_content a{
    text-decoration:none;
    color:#000000;
}
/* CONTENT PANEL */
#map_canvas {
    display: none;
}
#content {
    width:950px;
    height:600px;
}
#content a {
    color:#8cc744;
    text-decoration:none;
}
/* NEWS */
#news_one {
    margin-left:10px;
    max-width:520px;
}
#news_title{
    margin-top:10px;
    width: 520px;
    height:20px;
    border-bottom: 1px solid #FFFFFF;
}
#news_title_all{
    margin-top:10px;
    width: 520px;
    height:20px;
}
#news_one .title {
    position:absolute;
    color:#CDBA8D;
    float:left;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    letter-spacing:-0.02em;
    margin-top:-3px;
}
#news_title p {
    float:right;
    margin-bottom:-2px;
}
#news_title_all p {
    color:#FFFFFF;
    float:right;
    margin-bottom:-2px;
}
#news_content {
    padding-top:10px;
    margin-left:10px;
    color:#FFFFFF;
}
#news_suite{
    float:right;
}
#news_old {
    text-align:center;
    width: 520px;
}
/*PROFIL*/
#profil {
    margin-left:10px;
    width:540px;
}
#profil_title{
    margin-top:10px;
    height:20px;
}
#profil .title {
    position:absolute;
    color:#CDBA8D;
    float:left;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    letter-spacing:-0.02em;
    margin-top:-3px;
    padding-bottom:2px;
    border-bottom: 1px solid #FFFFFF;
}
#profil_photo {
    margin-top:10px;
    float:left;
    width:250px;
    height:260px;
/*    border:1px solid #FFFFFF;
*/}
#profil_info1 {
    float:right;
    margin-top:10px;
    width:280px;
    height:260px;
/*    border:1px solid #FFFFFF;
*/}
#profil_info1 div {
    margin-left:8px;
}

#profil_info2_left{
    margin-top:5px;
    float:left;
    width:330px;
    height:260px;
/*    border:1px solid #FFFFFF;
*/}
#profil_info2_left ul{
    float:right;
    list-style-type:none;
}
#profil_info2_right{
    margin-top:5px;
    margin-left:10px;
    float:right;
    width:160px;
    height:260px;
    list-style-type:none;
/*    border:1px solid #FFFFFF;
*/}
#profil_info2_right ul{
    list-style-type:none;
}
/*  MATCH_LIST */
#match{
    margin-left:100px;
}
#accepted {
    color:#006600;
}
#denied {
    color:#660000;
}