{% extends "base.html" %}

{% block title%}Auth_Test Login.html{% endblock %}

{% block content %}
<div id="show">
    <h3> Veuillez vous connecter : </h3>
    <br/>
    <form method="post" action="?next={{ next|default:"/news/" }}">
       <div> <div id="fieldWrapper">
                {{ form.username.errors }}
                <p id="right"><label id="left"for="id_street">Pseudo : </label>
                {{ form.username }}</p>
        </div>
        <div id="fieldWrapper">
                {{ form.password.errors }}
                <p id="right"><label id="left"for="id_street">Mot de passe : </label>
                {{ form.password }}</p>
        </div>
        <div id="fieldWrapper"><p id="submit"><input type="submit" value="Valider"></p>
            <a href="javascript: window.open('/accounts/password/reset/',null, 'height=200,width=400,status=no,toolbar=no,menubar=no,location=no'); self.close();">Vous avez oublié votre mot de passe?</a><br />
            <a href="/users/signup/">Vous n'êtes pas encore inscrit?</a>
            </div></div>
    </form>
</div>
{% endblock %}

