{% extends "base.html" %}
{%block header%}{%endblock%}
{% block footer %}{%endblock%}
{% block content%}
<div id="show">
    Veuillez compléter les champs suivants : <br/><br/>
<form action="." method="post">
<div>
    <div id="fieldWrapper">
            {{ form.old_password.errors }}
            <p id="right"><label id="left">Ancien mot de passe : </label>
            {{ form.old_password }}</p>
    </div>
    <div id="fieldWrapper">
            {{ form.new_password1.errors }}
            <p id="right"><label id="left">Nouveau mot de passe : </label>
            {{ form.new_password1 }}</p>
    </div>
    <div id="fieldWrapper">
            {{ form.new_password2.errors }}
            <p id="right"><label id="left">Confirmer le nouveau mot de passe : </label>
            {{ form.new_password2 }}</p>
    </div>
</div>
    <div id="fieldWrapper"><p id="submit"><input type="submit" value="Valider"></p></div>
</form>
</div>
{% endblock %}