{% extends "base.html" %}
{%block header%}{%endblock%}
{% block footer %}{%endblock%}
{% block content%}
<div id="show">Veuillez ajouter l'adresse avec laquelle vous vous êtes enregistré<br/><br/>
<form action="." method="post">
<div>
    <div id="fieldWrapper">
            {{ form.email.errors }}
            <p id="right"><label id="left"for="id_street">Adresse e-mail :</label>
            {{ form.email }}</p>
    </div>
</div>
    <div id="fieldWrapper"><p id="submit"><input type="submit" value="Valider"></p></div>
</form>
</div>
{% endblock %}