{% extends "base_location.html" %}
{% block title%}Editer un trajet{% endblock %}
{% block extra_script%}
    <script src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAgBspmYKlV-K16v3uuTvAVxQXe2j3UScOufxFbDXPZ5pNZgzsBBQoMOr4yD6sylZaeft_0jLUsbqLpA"
      type="text/javascript"></script>
    <script type="text/javascript"> 
	// Create a directions object and register a map and DIV to hold the 
    // resulting computed directions
    function addAddressAsStart(){
        mySelect = $("startSelect");
        startValue = mySelect.options[mySelect.selectedIndex].value
        if(startValue == "none"){
            $("id_start_house_number").value = "";
            $("id_start_street").value = "";
            $("id_start_city_name").value = "";
            $("id_start_zip_code").value= "";
        }{% for address in user.address_set.all %}else if (startValue == "{{forloop.counter0}}"){
                $("id_start_house_number").value = "{{address.location.house_number}}";
                $("id_start_street").value = "{{address.location.street}}";
                $("id_start_city_name").value = "{{address.location.city_name}}";
                $("id_start_zip_code").value= "{{address.location.zip_code}}";
            }{% endfor %}
    }
    var distPanel;
    var durPanel;
    var directions;

    function initialize() {
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(42.351505,-71.094455), 15);
      directions = new GDirections();
      
      start_house_number_panel = $("id_start_house_number");
      start_street_panel = $("id_start_street");
      start_city_panel = $("id_start_city_name");
      start_zip_panel = $("id_start_zip_code");
      
      mySelect = $("id_destination");
      dest = mySelect.options[mySelect.selectedIndex].text
      
      directions.load("from: "+start_house_number_panel.value +" "+ start_street_panel.value +" , "+start_city_panel.value+ " ,"+start_zip_panel.value +", Belgique to: "+ dest +", Belgique");
      
      GEvent.addListener(directions,"load",setDistance);
    }
    function setDistance(){
        var dist = Math.round(directions.getDistance().meters/1000.0);
        var dur = Math.round(directions.getDuration().seconds /60.0);
        distP = $("id_distance");
        distP.value = dist;
        distD = $("id_duration");
        distD.value = dur;
        button = $("id_button");
        replaceT(button);
    }
    function replaceT(obj){
    var newO=document.createElement('input');
    newO.setAttribute('type','submit');
    newO.setAttribute('id','id_button');
    newO.setAttribute('value', 'Submit');
    obj.parentNode.replaceChild(newO,obj);
    newO.click();
    }
    </script>
{% endblock %}

{% block content %}
<div id="show">    
    <div id="map_canvas" style="width: 0px; height: 0px;"></div>
    <h3>Veuillez compléter les champs suivant pour ajouter un trajet.</h3><br/><br/>
    <form action="." method="POST" >
       <table width="150px"cellspacing="0" cellpadding="0">
        <tr>
            <td width="20px"></td><td width="50px" align="center"></td>
        </tr>
        <tr>
          {{form.date.errors}}
          <td><label>Date du trajet :</label></td><td title="{{form.date.help_text}}">{{form.date}}</td>
        </tr>
        <tr>
          {{form.everyDay.errors}}
          <td><label>Tous les jours? :</label></td><td>{{form.everyDay}}</td>
        </tr>
        <tr>
          {{form.time.errors}}
          <td><label>Heure d'arrivée :</label></td><td title="{{form.time.help_text}}">{{form.time}}</td>
        </tr>  
        <tr>
          <td><label>Adresse de départ :</label></td>
          <td>
              <select id="startSelect" onchange="addAddressAsStart()">
                  <option value="none">-</option>
                  {% for address in user.address_set.all %}
                  <option value="{{forloop.counter0}}">{{address}}</option>
                  {% endfor %}
              </select>
         </td>
        </tr>
        <tr>
          {{form.start_street.errors}}
          <td><label>Rue :</label></td><td>{{form.start_street}}</td>
        </tr>
        <tr>
          {{form.start_house_number.errors}}
          <td><label>Numéro :</label></td><td>{{form.start_house_number}}</td>
        </tr>
        <tr>
          {{form.start_zip_code.errors}}
          <td><label>Code postal:</label></td><td>{{form.start_zip_code}}</td>
        </tr>
        <tr>
          {{form.start_city_name.errors}}
          <td><label>Ville :</label></td><td>{{form.start_city_name}}</td>
        </tr>
        <tr>
          {{form.destination.errors}}
          <td><label>Adresse d'arrivée :</label></td><td>{{form.destination}}</td>
        </tr>
        <tr>
          {{form.driverMaxDistance.errors}}
          <td><label>Détour maximum (en km) :</label></td><td title="{{form.driverMaxDistance.help_text}}">{{form.driverMaxDistance}}</td>
        </tr>
        <tr>
          {{form.driverMaxDuration.errors}}
          <td><label>Durée supplémentaire maximum (en min) :</label></td><td title="{{form.driverMaxDuration.help_text}}">{{form.driverMaxDuration}}</td>
        </tr>
        <tr>
          {{form.freeSeats.errors}}
          <td><label>Nombre de places disponibles:</label></td><td>{{form.freeSeats}}</td>
        </tr>
        {{form.distance}}
        {{form.duration}}
       </table>
        <p id="show">
            <a id="link_list" href="/location/ride/">Annuler</a>
            <input type="button" value="Submit" id="id_button" onclick="initialize()"/>
        </p>
    </form>
    </div>
{% endblock %}