{% extends "base_location.html" %}
{% block title%}Mes demandes{% endblock %}
{% block extra_script%}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript"> 
	// Create a directions object and register a map and DIV to hold the 
    // resulting computed directions
    function addAddressAsStart(){
        mySelect = $("startSelect");
        startValue = mySelect.options[mySelect.selectedIndex].value
        if(startValue == "none"){
            $("id_start_house_number").value = "";
            $("id_start_street").value = "";
            $("id_start_city_name").value = "";
            $("id_start_zip_code").value= "";
        }{% for address in user.address_set.all %}else if (startValue == "{{forloop.counter0}}"){
            $("id_start_house_number").value = "{{address.location.house_number}}";
            $("id_start_street").value = "{{address.location.street}}";
            $("id_start_city_name").value = "{{address.location.city_name}}";
            $("id_start_zip_code").value= "{{address.location.zip_code}}";
        }{% endfor %}
    }
    </script>
{% endblock %}

{% block content %}
<div id="show">
    <h3>Veuillez compléter les champs suivant pour ajouter une demande de covoiturage.</h3><br/><br/>
    <form action="." method="POST" >
       <table width="150px"cellspacing="0" cellpadding="0">
        <tr>
            <td width="20px"></td><td width="50px" align="center"></td>
        </tr>
        <tr>
          {{form.date.errors}}
          <td><label>Date du trajet :</label><br/>(AAAA-MM-JJ)</td><td>{{form.date}}</td>
        </tr>
        <tr>
          {{form.everyDay.errors}}
          <td><label>Tous les jours? :</label></td><td>{{form.everyDay}}</td>
        </tr>
        <tr>
          {{form.time.errors}}
          <td><label>Heure d'arrivée :</label>(HH:MM:SS)</td><td>{{form.time}}</td>
        </tr>
        <tr>
          <td><label>Adresse de départ :</label></td>
          <td>
              <select id="startSelect" onchange="addAddressAsStart()">
                  <option value="none">-</option>
                  {% for address in user.address_set.all %}
                  <option value="{{forloop.counter0}}">{{address}}</option>
                  {% endfor %}
              </select>
         </td>
        </tr>
        <tr>
          {{form.start_street.errors}}
          <td><label>Rue :</label></td><td>{{form.start_street}}</td>
        </tr>
        <tr>
          {{form.start_house_number.errors}}
          <td><label>Numéro :</label></td><td>{{form.start_house_number}}</td>
        </tr>
        <tr>
          {{form.start_zip_code.errors}}
          <td><label>Code postal:</label></td><td>{{form.start_zip_code}}</td>
        </tr>
        <tr>
          {{form.start_city_name.errors}}
          <td><label>Ville :</label></td><td>{{form.start_city_name}}</td>
        </tr>
        <tr>
          {{form.destination.errors}}
          <td><label>Adresse d'arrivée :</label></td><td>{{form.destination}}</td>
        </tr>
        Ce nombre correspond à la fourchette de temps dans laquelle vous acceptez d'arrivée à destination. Si vous choisissez 10 minutes, cela signifie que vous acceptez d'arriver 10 minutes avant ou 10 minutes après l'heure d'arrivée rentrée précédemment. 
        <tr>
          {{form.maxDelay.errors}}
          <td><label>Fourchette de temps :</label>(en minutes)</td><td>{{form.maxDelay}}</td>
        </tr>
        <tr>
          {{form.seatsNeeded.errors}}
          <td><label>Nombre de places:</label></td><td>{{form.seatsNeeded}}</td>
        </tr>
       </table>
        <p id="show">
            <a id="link_list" href="/location/passenger/">Annuler</a> <input type="submit" value="Ajouter ma demande"/>
        </p>
    </form>
</div>
{% endblock %}