{% extends "base.html" %}
{% block title%}Editer un trajet{% endblock %}
{% block extra_script%}
    <script src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAgBspmYKlV-K16v3uuTvAVxRi_j0U6kJrkFvY4-OX2XYmEAa76BSgsjX0y8bYKQLn4ZrAjLWukCYdBw"
      type="text/javascript"></script>
    <script type="text/javascript"> 
	// Create a directions object and register a map and DIV to hold the 
    // resulting computed directions
    function addAddressAsStart(){
        mySelect = $("startSelect");
        startValue = mySelect.options[mySelect.selectedIndex].value
        if(startValue == "none"){
            $("id_start_house_number").value = "";
            $("id_start_street").value = "";
            $("id_start_city_name").value = "";
            $("id_start_zip_code").value= "";
        } else if (startValue == "1"){
            $("id_start_house_number").value = "{{user_profile.location.house_number}}";
            $("id_start_street").value = "{{user_profile.location.street}}";
            $("id_start_city_name").value = "{{user_profile.location.city_name}}";
            $("id_start_zip_code").value= "{{user_profile.location.zip_code}}";
        }else if (startValue == "2"){
            $("id_start_house_number").value = "{{user_profile.location2.house_number}}";
            $("id_start_street").value = "{{user_profile.location2.street}}";
            $("id_start_city_name").value = "{{user_profile.location2.city_name}}";
            $("id_start_zip_code").value= "{{user_profile.location2.zip_code}}";
        }else{
            $("id_start_house_number").value = "{{user_profile.location3.house_number}}";
            $("id_start_street").value = "{{user_profile.location3.street}}";
            $("id_start_city_name").value = "{{user_profile.location3.city_name}}";
            $("id_start_zip_code").value= "{{user_profile.location3.zip_code}}";
        }
    }
    var distPanel;
    var durPanel;
    var directions;

    function initialize() {
      map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(42.351505,-71.094455), 15);
      directions = new GDirections();
      
      start_house_number_panel = document.getElementById("id_start_house_number");
      start_street_panel = document.getElementById("id_start_street");
      start_city_panel = document.getElementById("id_start_city_name");
      start_zip_panel = document.getElementById("id_start_zip_code");
      
      mySelect = document.getElementById("id_destination");
      dest = mySelect.options[mySelect.selectedIndex].text
      
      directions.load("from: "+start_house_number_panel.value +" "+ start_street_panel.value +" , "+start_city_panel.value+ " ,"+start_zip_panel.value +", Belgique to: "+ dest +", Belgique");
      
      GEvent.addListener(directions,"load",setDistance);
    }
    function setDistance(){
        var dist = Math.round(directions.getDistance().meters/1000.0);
        var dur = Math.round(directions.getDuration().seconds /60.0);
        distP = document.getElementById("id_distance");
        distP.value = dist;
        distD = document.getElementById("id_duration");
        distD.value = dur;
        button = document.getElementById("id_button");
        replaceT(button);
    }
    function replaceT(obj){
    var newO=document.createElement('input');
    newO.setAttribute('type','submit');
    newO.setAttribute('id','id_button');
    newO.setAttribute('value', 'Submit');
    obj.parentNode.replaceChild(newO,obj);
    newO.click();
    }
    </script>
{% endblock %}

{% block content %}
    <input type="submit" onclick="addAddressAsStart()" value="Utiliser votre adresse comme addresse de départ">
    <div id="map_canvas" style="width: 0px; height: 0px;"></div>
    <form action="." method="POST" >
        <select id="startSelect" onchange="addAddressAsStart()">
          <option value="none">-</option>
          <option value="1">{{user_profile.location}}</option>
          <option value="2">{{user_profile.location2}}</option>
          <option value="3">{{user_profile.location3}}</option>
        </select>
        <table>
            {{form.as_table}}
        </table>
        <p>
            <input type="button" value="Submit" id="id_button" onclick="initialize()"/>
        </p>
    </form>
{% endblock %}