{% extends "base_matches.html" %}
{% block content%}
<div id="show">
    <p>
        C'est dans cette partie du site que vous pourrez planifier vos covoiturages.<br/><br/>
        Rendez vous <a href="/location/ride/matches">ici</a> pour consulter les demandes de covoiturage auxquelles vous pourriez répondre favorablement.<br/>
        Rendez vous <a href="/location/passenger/matches">ici</a> pour contacter les différents conducteurs potentiels qui pourraient vous amener à destination.<br/><br/>
        
        Il est recommandé de <a href="/users/edit/">remplir votre profil</a> avant de commencer à utiliser ce module. En effet, il est de bonne augure d'ajouter vos informations personnelles telles que votre nom ainsi que un ou deux numéros de téléphone auxquelles on pourrait vous joindre en cas de besoin.<br/><br/>
    </p>
</div>
{% endblock %}