{% extends "base_location.html" %}
{% block content%}
<div id="show">
    <p>
        C'est dans cette partie du site que vous pourrez consulter et organiser vos trajets ou vos demandes de covoiturage.<br/><br/>
        Rendez vous <a href="/location/ride/">ici</a> pour gérer vos trajets en tant que conducteur.<br/>
        Rendez vous <a href="/location/passenger/">ici</a> pour gérer vos demandes de covoiturage<br/><br/>
        
        Il est recommandé de <a href="/users/edit/">remplir votre profil</a> avant de commencer à utiliser ce module. En effet, il est de bonne augure d'ajouter vos informations personnelles telles que votre nom ainsi que un ou deux numéros de téléphone auxquelles on pourrait vous joindre en cas de besoin.<br/><br/>
        Vous pouvez également ajouter des adresses qui pourront vous servir à remplir automatiquement une partie des formulaires de trajet et de demande. <br/>
        Vous pouvez ajouter autant d'adresses et de téléphones que vous voulez, mais sachez que ces informations sont uniquement à la disposition des membres de ce site. En effet, les utilisateurs externes n'ont pas la possibilité de consulter votre profil.<br/>
        Une fois cela fait, nous vous invitons à utiliser notre application comme bon vous semble tout en respectant la vie privée de ses utilisateurs. <br/>
    </p>
</div>
{% endblock %}