{% extends "base.html" %}
{% block extra_script%}
    <script src="http://maps.google.com/maps?file=api&v=2.x&key=ABQIAAAAgBspmYKlV-K16v3uuTvAVxRi_j0U6kJrkFvY4-OX2XYmEAa76BSgsjX0y8bYKQLn4ZrAjLWukCYdBw"
      type="text/javascript"></script>
    <script type="text/javascript"> 
    var distPanel;
    var durPanel;
    var directions;
    var rides = {{ json|safe }}
    
    function initialize(index) {
        // rides.each(function(item, index) {
            if(index < {{rides|length}}){
            item = rides[index];
            map = new GMap2($("map_canvas"));
                map.setCenter(new GLatLng(42.351505,-71.094455), 15);
                directions = new GDirections();
                var fr = item['start'];
                var to1 = "{{passenger.start}}";
                var to2 = "{{passenger.dest}}";
                directions.load("from: "+ fr +", Belgique to: "+to1+", Belgique to:"+ to2+", Belgique");
                GEvent.addListener(directions,"load", function() {
                    var dist = Math.round(directions.getDistance().meters/1000.0);
                    var dur = Math.round(directions.getDuration().seconds /60.0);
                    console.log("Nouvelle distance : "+ dist +" inferieure a : "+ (rides[index].initialDist+rides[index].driverMaxDistance)+"?");
                    console.log("Nouvelle duree : "+ dur +" inferieure a : "+ (rides[index].initialDur+rides[index].driverMaxDuration)+"?");
                    if(dist <= rides[index].initialDist + rides[index].driverMaxDistance && dur <= rides[index].initialDur + rides[index].driverMaxDuration){
                        var test = $("id_check"+index);
                        test.disabled = false;
                        test.checked = true
                        $("id_ride"+index+"_newDist").value = dist;
                        $("id_ride"+index+"_newDur").value = dur;
                    }
                    initialize(index+1);
                });}

        // })
    }
    </script>
{% endblock %}
{% block bodyBalise%}
<body onload="initialize(0)">
{% endblock %}
{% block content %}
<div id="map_canvas" style="width: 0px; height: 0px;"></div>
<form action="." method="POST">
<ul>    
{% for ride in rides%}
    <li>{{ride.driver.username}}<br/>
        {{ride.start}}
        <input type="checkbox" id="id_check{{forloop.counter0}}" name="check{{ride.id}}"disabled="true" />
        <input type="hidden" id="id_ride{{forloop.counter0}}_newDist"  name="dist{{ride.id}}" value="0"/>
        <input type="hidden" id="id_ride{{forloop.counter0}}_newDur"  name="dur{{ride.id}}" value="0"/>
    </li>    
{% endfor %}    
</ul>
<input type="submit" value="Confirmez">
</form>
{% endblock %}