{% extends "base.html" %}
{% block content%}
<div id="show">
    <h4>Trajet : </h4>
    <div id="show">
    {% if ride.everyDay%}
    <label>Date : </label>Tous les jours à partir du {{ride.dateTime|date:"d F Y"}}<br/>
    {% else %}
    <label>Date : </label>Le {{ride.dateTime|date:"d F Y"}}<br/>
    {% endif %}
    <label> Heure d'arrivée : </label>{{ride.dateTime|date:"H:i"}}<br/>
    <label>Trajet de :</label> {{ride.start}} <br/>
    {% for stage in ride.stage_set.all %}
    <label id="accepted">Etape : </label> {{stage.location.city_name}}<br/>
    {% endfor %}
    <label>Jusqu'à :</label> {{ride.dest.location}}  <br/>
    <label>Distance : </label>{{ride.distance}} Km<br/>
    <label>Durée : </label>{{ride.duration}} Minutes<br/>
    <a id="link_list" href="/location/ride/edit/{{ride.id}}">Editer</a>
    <a id="link_list" href="/location/ride/delete/{{ride.id}}">Supprimer</a>
    </div>
</div>
{% endblock %}