{% extends "base_location.html" %}
{% load users_extras %}
{% block content%}
<div>
    <p> <u><h3 style="color:#FFFFFF">Covoiturage à destination de : {{match.driver_ride.dest}}.</h3></u><br/>
        <label> Conducteur : </label> <a href="/users/{{driver.id}}">{{driver.username}}</a><br/>
        <label> Passager : </label> <a href="/users/{{passenger.id}}">{{passenger.username}}</a><br/>
        <label> Nombre de places nécessaire : </label> {{match.passenger_ride.seatsNeeded}}<br/>
        {% if match.driver_ride.everyDay|AND:match.passenger_ride.everyDay%}
        <label>Date : </label> Tous les jours à partir du {{startDate|date:"d F Y"}}<br/>
        {% else %}
        <label>Date : </label> {{startDate|date:"d F Y"}}<br/>
        {% endif %}
        <label>Heure d'arrivée à destination :</label> {{match.driver_ride.dateTime|date:"H:i"}}<br/><br/>
        <h4 style="color:#FFFFFF">Informations pour le conducteur :</h4><br/>
        {% if match.accepted %}
        <label>Distance du trajet : </label> {{match.driver_ride.distance}}<br/>
        <label>Durée du trajet : </label> {{match.driver_ride.duration}}<br/>
        {% else %}
        <label>Distance du trajet initial : </label> {{match.driver_ride.distance}}<br/>
        <label>Distance du nouveau trajet : </label> {{match.newDistance}}<br/>
        <label>Durée du trajet initial : </label> {{match.driver_ride.duration}}<br/>
        <label>Durée du nouveau trajet : </label> {{match.newDuration}}<br/>
        {% endif %}
        <a href="/location/ride/matches/{{match.id}}/map/">Consulter le nouvel itinéraire via GoogleMap</a>
    </p>
    <br/>
    {% if user.username|EQ:driver.username %}
    {% if match.accepted %}
    Vous avez accepté cette demande de covoiturage.<br/>
    {% else %}
    <a href="/location/confirm/{{match.id}}">J'accepte cette demande de covoiturage.</a><br/>
    {% endif %}
    <a href="/location/deny/{{match.id}}">Je refuse cette demande de covoiturage.</a>
    {% endif %}
</div>
{% endblock %}
