{% extends "base.html" %}

{% block title%}Ajouter un avis{% endblock %}

{% block content %}
{% if perms.news.add_news%}
<h1>Ecrivez ici le nouvel avis :</h1>
<form action="add" method="POST">
    <table>
        {{ form.as_table }}
    </table>
    <p><input type="submit" value="Submit"></p>
</form>
{% endif %}
{% endblock %}
{% block extra_head %}
<script type="text/javascript">
window.addEvent('domready', function() {
    MarkdownToolbar.add('id_content');
    MarkdownToolbar.add('id_extracontent');
});
</script>
{% endblock %}