{% extends "base.html" %}
{% block extra_script%}
<script type="text/javascript" charset="utf-8"  src="{{MEDIA_URL}}/js/markdown_toolbar.0.0.1.js"></script>
{% endblock%}
{% block title%}Editer un avis{% endblock %}

{% block content %}
<h1>Entrez les modifications que vous voulez apporter à l'avis :</h1>
<form action="." method="POST">
    <div id="fieldWrapper">
        {{ form.title.errors }}
        <label id="left"for="id_street">Titre : </label><br/>
        {{ form.title}}
    </div>
    <br/>
    <div id="fieldWrapper">
        {{ form.content.errors }}
        <label id="left"for="id_street">Contenu : </label> <br/>
        {{ form.content}}
    </div>
    <div id="fieldWrapper">
        {{ form.is_public.errors }}
        <label id="left"for="id_street">Rendre cette news publique : </label>
        {{ form.is_public}}
    </div>
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
{% block extra_head %}
<script type="text/javascript">
window.addEvent('domready', function() {
    MarkdownToolbar.add('id_content');
});
</script>
{% endblock %}
