{% extends "base.html" %}
{% load users_extras %}
{% block title%}Derniers Avis{% endblock %}

{% block content %} 
{% if news|length|EQ:0 %}
<div class="notice">Il n'y a pas encore de news</div>
{% endif %}
{% if perms.news.add_news %}
<a href="/news/add">Ajouter un avis</a>
{% endif %}
{% for n in news %}
<div id="news_one">
    <div id="news_title"><h3 class='title'>{{n.title}}</h3><p>{{ n.pub_date|date:"j F Y" }}</p></div>
    <div id="news_content">
        {{n.content_html|safe|linebreaksbr|truncatewords_html:100}}<a class="small" id="news_suite" href="/news/show/{{n.id}}/">Lire la suite</a>
    </div>
    <div id="news_footer">
        {% if perms.news.change_news %}
        <a href="/news/edit/{{n.id}}">Editer</a>
        {% endif %}
        {%if perms.news.delete_news %}
        <a href="/news/delete/{{n.id}}">Supprimer</a>
        {% endif %}
        <p>écrit par <a href="/users/{{n.author.id}}/">{{n.author.username}}</a></p>
    </div>
</div>    
{% endfor %}
<div id="news_old"><a class="small" href="/news/archives">Consulter les anciennes news</a></div>
{% endblock %} 