{%extends "base.html"%}
{%block content%}
<form method="post" action=".">
    <table>
        <tr>
            <td>
                {{ mailForm.email.errors }}
                <label>Votre adresse e-mail :</label><br/>
                {{ mailForm.email }}
            </td>
        </tr>
        <tr>
            <td>
                {{ mailForm.subject.errors }}
                <label>Sujet du message :</label><br/>
                {{ mailForm.subject }}
            </td>
        </tr>
        <tr>
            <td>
                {{ mailForm.message.errors }}
                <label>Votre message :</label><br/>
                {{ mailForm.message }}
            </td>
        </tr>
    </table>    
    <input type="submit" value="Envoyer">
</form>    
{%endblock%}