{% extends "base.html" %}
{% block content%}
<div id="show">
    <h3>Veuillez entrer le mot de passe de l'organisation</h3><br/><br/>
    Ce site contient des informations relatives à la vie privée de ses membres. Pour préserver ces informations, seuls les membres autorisés ont la possibilité de s'inscrire. Veuillez prendre contact avec l'organisation afin de recevoir le mot de passe nécessaire à la création de votre compte.<br/>
    <br/>
    <form method="post" action=".">
        <label> Mot de passe : </label><input type="password" id="signup_password" name="signup_password" />
        <input type="submit" value="Créer un compte maintenant !" />
    </form>
</div>
{% endblock %}