{% extends "base.html" %}
{% load users_extras %}
{% block content %}
<div class="large" id="profil">
    <div id="profil_title"><h3 class='title'>Profil de {{visited_user.username}}</h3></div>
    <div id="profil_photo"><img src="{{MEDIA_URL}}/img/photo/vert.png"/></div>
    <div id="profil_info1">
        <div><label>Nom : </label> {{visited_user.last_name|capfirst}}<br/>
        <label>Prénom : </label> {{visited_user.first_name|capfirst}}<br/>
        <label>E-mail : </label><a href="/users/{{visited_user.id}}/mail/">Envoyer un mail</a><br/>
       </div>
    </div>
    <div id="profil_info2_left">
        <label>Adresses : </label>
        <ul>
            <li>{{visited_user_profile.location}}</li>
            <li>{{visited_user_profile.location2}}</li>
            <li>{{visited_user_profile.location3}}</li>
        </ul>
    </div>
    <div id="profil_info2_right">
        <label>Contact :</label>
        <ul>
            <li>{{visited_user_profile.phone_number1}}</li>
            <li>{{visited_user_profile.phone_number2}}</li>
            <li>{{visited_user_profile.phone_number3}}</li>
        </ul>
    </div> 
</div>
{% endblock %}
<br/>

{% ifnotequal visited_user.id user.id %}
	{% if visited_user|IN:favorites %}
	<a href="/users/delete_favorite/{{visited_user.id}}/">-</a>
	{% else %}
	<a href="/users/add_favorite/{{visited_user.id}}/">+</a>
	{% endif %}
{% endifnotequal %}

<a href='/users/{{visited_user.id}}/mail/'>Envoyer un mail à cette personne</a>
<a href="/users/">Retour a la page precedente</a>
