<div id="admin">
    <h3>Administration</h3>
    <br/>
    Ici vous avez la possibilité de gérer les modules suivants : <br/>
    <ul>
        <li><label><a href="/admin/auth/user/">Utilisateurs</a></label> : Ce module vous permet d'ajouter ou supprimer un utilisateur. Vous pouvez également modifier ses informations et lui ajouter/supprimer des droits. Pour ce faire, vous pouvez les ajouter manuellement, ou alors ajouter cette personne dans un groupe possédant les droits voulus.</li> <br/>
        <li><label><a href="/admin/news/news/">News</a></label> : Ce module vous permet d'ajouter, modifier et supprimer des avis. Il est toutefois conseillé d'utiliser les fonctionnalités internes du site.</li> <br/>
        <li><label><a href="/admin/auth/group/">Groupes</a></label> : Ce module permet de créer des groupes d'utilisateurs et de leur assigner des permissions d'une manière plus simple.</li> <br/>
        <li><label><a href="/location/arrivals/">Lieux d'arrivée</a></label> : Ce module vous permet d'ajouter, modifier et supprimer un lieu d'arrivée qui sera utilisé lors des fonctions de recherche de covoiturage. Attention toutefois qu'une modification d'un lieu d'arrivée engendre la suppression de tous les enregistrements en relation avec ce lieu tels que les trajets, demande et même les covoiturages déjà établis.</li> <br/>
        <li><label><a href="/admin/flatpages/flatpage/">Page de contact</a></label> : Cette page vous permet de modifier la page de contact du site. Elle est sensée contenir des informations relative à votre organisation. La modification de cette page se fait via le langage HTML.</li> <br/>
    </ul>
</div>